<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="myrcpview.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="myrcpview.Perspective"
            id="MyRcpView.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MyRcpView.actionSet1"
            label="My Action"
            visible="true">
         <menu
               id="MyRcpView.menu1"
               label="Review Recommend"
               path="window/additions">
            <separator
                  name="separator1">
            </separator>
            <separator
                  name="separator2">
            </separator>
         </menu>
         <action
               class="myrcpview.actions.MyMenu"
               id="MyRcpView.action1"
               label="Default Review"
               menubarPath="window/MyRcpView.menu1/separator1"
               toolbarPath="addtions">
         </action>
         <action
               class="myrcpview.actions.MyEditor"
               id="MyRcpView.action1"
               label="Input Code"
               menubarPath="window/MyRcpView.menu1/separator1"
               style="push"
               toolbarPath="addtions">
         </action>
         <action
               class="myrcpview.actions.MyMenuTwo"
               id="MyRcpView.action2"
               label="Output Two Review"
               menubarPath="window/MyRcpView.menu1/separator1"
               style="push">
         </action>
         <action
               class="myrcpview.actions.MyMenuOne"
               id="MyRcpView.action1"
               label="Output One Review"
               menubarPath="window/MyRcpView.menu1/separator1"
               style="push">
         </action>
         <action
               class="myrcpview.actions.S_MyMenu"
               id="MyRcpView.action6"
               label="Show Similarity Value"
               menubarPath="window/MyRcpView.menu1/separator2"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="myrcpview.views.MyRcpView"
            id="MyRcpView.view2"
            name="My View"
            restorable="true">
      </view>
      <view
            class="myrcpview.views.S_MyRcpView"
            id="MyRcpView.view3"
            name="Similarity View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="myrcpview.editor.MyMulEditor"
            default="false"
            id="MyRcpView.editor1"
            name="My Editor">
      </editor>
   </extension>

</plugin>
